zoo_feijoo/xml-resources/web-service-references/zoo_ws_conexion/wsdl/localhost_8080/zoo_ws_feijoo/zoo_ws_conexion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://code/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://code/" name="zoo_ws_conexion">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/zoo_ws_feijoo/zoo_ws_conexion?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://code/" schemaLocation="http://localhost:8080/zoo_ws_feijoo/zoo_ws_conexion?xsd=2"/>
</xsd:schema>
</types>
<message name="guardar">
<part name="parameters" element="tns:guardar"/>
</message>
<message name="guardarResponse">
<part name="parameters" element="tns:guardarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="actualizar">
<part name="parameters" element="tns:actualizar"/>
</message>
<message name="actualizarResponse">
<part name="parameters" element="tns:actualizarResponse"/>
</message>
<message name="consulta">
<part name="parameters" element="tns:consulta"/>
</message>
<message name="consultaResponse">
<part name="parameters" element="tns:consultaResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<portType name="zoo_ws_conexion">
<operation name="guardar">
<input wsam:Action="http://code/zoo_ws_conexion/guardarRequest" message="tns:guardar"/>
<output wsam:Action="http://code/zoo_ws_conexion/guardarResponse" message="tns:guardarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://code/zoo_ws_conexion/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://code/zoo_ws_conexion/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="actualizar">
<input wsam:Action="http://code/zoo_ws_conexion/actualizarRequest" message="tns:actualizar"/>
<output wsam:Action="http://code/zoo_ws_conexion/actualizarResponse" message="tns:actualizarResponse"/>
</operation>
<operation name="consulta">
<input wsam:Action="http://code/zoo_ws_conexion/consultaRequest" message="tns:consulta"/>
<output wsam:Action="http://code/zoo_ws_conexion/consultaResponse" message="tns:consultaResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://code/zoo_ws_conexion/listarRequest" message="tns:listar"/>
<output wsam:Action="http://code/zoo_ws_conexion/listarResponse" message="tns:listarResponse"/>
</operation>
</portType>
<binding name="zoo_ws_conexionPortBinding" type="tns:zoo_ws_conexion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="guardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="zoo_ws_conexion">
<port name="zoo_ws_conexionPort" binding="tns:zoo_ws_conexionPortBinding">
<soap:address location="http://localhost:8080/zoo_ws_feijoo/zoo_ws_conexion"/>
</port>
</service>
</definitions>