Enterprise080523/src/META-INF/wsdl/localhost_8080/Enterprise050523/ConexionEnterprise.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://functions/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://functions/" name="ConexionEnterprise">
<types>
<xsd:schema>
<xsd:import namespace="http://functions/" schemaLocation="http://localhost:8080/Enterprise050523/ConexionEnterprise?xsd=1"/>
</xsd:schema>
</types>
<message name="listarPorCodigo">
<part name="parameters" element="tns:listarPorCodigo"/>
</message>
<message name="listarPorCodigoResponse">
<part name="parameters" element="tns:listarPorCodigoResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="actualizar">
<part name="parameters" element="tns:actualizar"/>
</message>
<message name="actualizarResponse">
<part name="parameters" element="tns:actualizarResponse"/>
</message>
<message name="guardar">
<part name="parameters" element="tns:guardar"/>
</message>
<message name="guardarResponse">
<part name="parameters" element="tns:guardarResponse"/>
</message>
<message name="consulta">
<part name="parameters" element="tns:consulta"/>
</message>
<message name="consultaResponse">
<part name="parameters" element="tns:consultaResponse"/>
</message>
<portType name="ConexionEnterprise">
<operation name="listarPorCodigo">
<input wsam:Action="http://functions/ConexionEnterprise/listarPorCodigoRequest" message="tns:listarPorCodigo"/>
<output wsam:Action="http://functions/ConexionEnterprise/listarPorCodigoResponse" message="tns:listarPorCodigoResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://functions/ConexionEnterprise/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://functions/ConexionEnterprise/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="actualizar">
<input wsam:Action="http://functions/ConexionEnterprise/actualizarRequest" message="tns:actualizar"/>
<output wsam:Action="http://functions/ConexionEnterprise/actualizarResponse" message="tns:actualizarResponse"/>
</operation>
<operation name="guardar">
<input wsam:Action="http://functions/ConexionEnterprise/guardarRequest" message="tns:guardar"/>
<output wsam:Action="http://functions/ConexionEnterprise/guardarResponse" message="tns:guardarResponse"/>
</operation>
<operation name="consulta">
<input wsam:Action="http://functions/ConexionEnterprise/consultaRequest" message="tns:consulta"/>
<output wsam:Action="http://functions/ConexionEnterprise/consultaResponse" message="tns:consultaResponse"/>
</operation>
</portType>
<binding name="ConexionEnterprisePortBinding" type="tns:ConexionEnterprise">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarPorCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConexionEnterprise">
<port name="ConexionEnterprisePort" binding="tns:ConexionEnterprisePortBinding">
<soap:address location="http://localhost:8080/Enterprise050523/ConexionEnterprise"/>
</port>
</service>
</definitions>