pruebauno290523/src/META-INF/wsdl/localhost_8080/PruebaUno/PruebaUnoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wbs/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wbs/">

<xs:element name="actualizar" type="tns:actualizar"/>

<xs:element name="actualizarResponse" type="tns:actualizarResponse"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="eliminarResponse" type="tns:eliminarResponse"/>

<xs:element name="guardar" type="tns:guardar"/>

<xs:element name="guardarResponse" type="tns:guardarResponse"/>

<xs:element name="listar" type="tns:listar"/>

<xs:element name="listarResponse" type="tns:listarResponse"/>

<xs:complexType name="guardar">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="lote" type="xs:string" minOccurs="0"/>
<xs:element name="detalle" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_caducidad" type="xs:string" minOccurs="0"/>
<xs:element name="costo" type="xs:string" minOccurs="0"/>
<xs:element name="pvp" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:string" minOccurs="0"/>
<xs:element name="sucursal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizar">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="lote" type="xs:string" minOccurs="0"/>
<xs:element name="detalle" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_caducidad" type="xs:string" minOccurs="0"/>
<xs:element name="costo" type="xs:string" minOccurs="0"/>
<xs:element name="pvp" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:string" minOccurs="0"/>
<xs:element name="sucursal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>